@tailwind base;
@tailwind components;
@tailwind utilities;

.font-pixel {
  font-family: 'Press Start 2P', monospace;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html {
  height: 100%;
}
